
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    /* margin: auto; */
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body {
    background-color: rgb(105, 195, 224);
}
.producto{
    height: 60%;
    width: 60%;
}
.producto:hover {
    filter: opacity(.5);

}